body {
  margin: 0;
  padding: 0;
  font-size: 1.4em;
  font-family: 'Anonymous Pro', serif;
}

.container {
  text-align: center;
  width: 640px;
  margin-right: auto;
  margin-left: auto;
}

.header {
  margin-right: auto;
  margin-left: auto;

  color: #385691;
  font-size: 1.9em;
  font-family: 'Rock Salt', serif;
  padding-top: 0.6em;
  padding-bottom: 0.0em;
}

.footer {
  background-color: #EFEFEF;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

.shadowed {
  -webkit-filter: drop-shadow(8px 8px 12px rgba(0,0,0,0.5));
  filter: url(#drop-shadow);
  -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12,
  Color='#444')";
  filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12,
  Color='#444')";
}
